<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>My first Vue app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <script src="https://unpkg.com/vuejs-datepicker"></script>
    <script src=" https://unpkg.com/axios/dist/axios.min.js "></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div class="text-center">
    <h3>Кредитный калькулятор</h3>
    <br><br><br><br>
</div>
<div id="app" class="container text-center">
    <div class="row">
        <div class="col-sm-4">
            <br/><br/><br/>
            <br/>
            <div class="form-group">
                <label for="credit">Введите сумму:</label>
                <input type="number" class="form-control" id="credit" v-model="summa" @keyup="checkSum"/>
                <p class="error" v-if="vatError">{{vatErrorMsg}}</p>
            </div>


        </div>

        <div class="col-sm2">
            <br><br><br><br>
            <div class="form-group">
                <label for="month">Количество месяцев:</label>
                <input type="number" class="form-control" id="month" v-model="month" @keyup="checkMonth"/>
                <p class="error" v-if="ErrorMonth">{{ErrorMonthMsg}}</p>
            </div>
        </div>
        <div class="col-sm2">
            <br><br><br><br>
                <p>
                    <strong> Процентная ставка: </strong>
                    <span th:text="${procent}"></span>
                </p>
            <br/> <br/>
        </div>
        </div>

    <div class="text-center">
        <br><br><br><br>
        <button v-on:click="search">Рассчитать</button>
        <p class="error" v-if="correctError">{{correctErrorMsg}}</p>
        <br><br><br><br>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <table border=1 class="table table-striped auto__table text-left">
                <thead>
                <th>№</th>
                <th>Месяц/год</th>
                <th>Платеж по основному долгу</th>
                <th>Платеж по процентам</th>
                <th>Остаток от основного долга</th>
                <th>Общая сумма платежа</th>
                </thead>
                <tbody>
                <tr v-for="element in history">
                    <td>{{element.count}}</td>
                    <td>{{element.date}}</td>
                    <td>{{element.mainDebt}}</td>
                    <td>{{element.procentDebt}}</td>
                    <td>{{element.residual}}</td>
                    <td>{{element.totalAmount}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</div>
<script th:inline="javascript"> var contextPath = /*[[@{/}]]*/ ''; </script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            month: '',
            summa: '',
            vatError: '',
            vatErrorMsg: '',
            ErrorMonth: '',
            ErrorMonthMsg: '',
            history: [],
            correctError: '',
            correctErrorMsg: '',
            url: {
                myurl: contextPath + "getPay/"
            }
        },
        methods: {
            checkSum() {
                if (this.summa < 100000) {
                    this.vatError = true;
                    this.vatErrorMsg = "Сумма кредита должна быть больше 100 т.р.";
                } else if (this.summa > 5000000) {
                    this.vatError = true;
                    this.vatErrorMsg = "Сумма кредита должна бытьменьше 5 млн.р.";
                }
                else {
                    this.vatError = false;
                }
            },
            checkMonth() {
                if (this.month < 12) {
                    this.ErrorMonth = true;
                    this.ErrorMonthMsg = "Количество месяцев должно быть больше 12";
                } else if (this.month > 61) {
                    this.ErrorMonth = true;
                    this.ErrorMonthMsg = "Количество месяцев должно быть меньше 60";
                }
                else {
                    this.ErrorMonth = false;
                }
            },
            search() {
                if (!this.ErrorMonth && !this.vatError) {
                    this.correctError=false;
                    axios.get(this.url.myurl + this.summa + "/" + this.month).then((response) => {
                        this.history = response.data;
                    })
                }
                else {
                    this.correctError = true;
                    this.correctErrorMsg = "Введите корректные данные"
                }

            }
        }
    });
</script>
</body>
</html>